@tailwind base;
@tailwind components;
@tailwind utilities;

.screen{
    width: 1000px;
    height: calc(9/16*1000px);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
.pixel{
    flex-basis: 6.25%;
}

.painted, .painted:hover{
    background-color: #333;
}